DATABASE_URL="postgresql://postgres:postgres@localhost:5432/imobiliaria_ibaiti"
PORT=4000
JWT_SECRET="troque-esta-chave"
ADMIN_EMAIL="admin@imobiliariaibaiti.com.br"
ADMIN_PASSWORD="123456"
ADMIN_PASSWORD_HASH=""
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
